
	<!DOCTYPE html>
<html>
<head>
	
		
	
<body>
  <a href="home page.html"><h1><center>About Us Page</center></h1>
</a>
  <h4><p>The problem Nari Suraksha- A safety and help portal for women solves
Women face a lot of issues in the society. From returning late night and facing security issues to harrasment calls and abusive messages on various social media handles. Women try to avoid these, but no real charge is taken against these crimes. Also in case of emergency, women need help and help needs to reach in appropriate time.

Thus, this web portal help the women report these calls and also call for help. It helps them monitor the latest help available and also monitor and track their current location. They can get the fastest help by calling for help and also can report any instagram/ facebook handles and call numbers to get rid of them. The frequency of the numbers harrasing them and the content can also be reported which will help the security issues to be regarded easily.</p></h4>

<center><img src="w3"></center>
<p><h4>Harassment is any unwelcome behavior or comments made by one person to another. Sexual harassment is a term usually used to describe unwanted sexual contact or behavior that happens more than once at work, home, or in school. It includes any unwelcome sexual advances or requests for sexual favors that affect a person's job, schoolwork, or housing. Street harassment is behavior or comments that can be sexual but are not always and may target your sex, gender, age, religion, nationality, race, ethnicity, or sexual orientation.</p></h4>
<center><img src="women img"></center>
<p>
	Sexual assault and rape
Sexual assault is any kind of unwanted sexual activity, from touching to rape. If you have been sexually assaulted, it is not your fault, and you are not alone. You can get help.

  </body>
</html>